{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="page-wrapper" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- wrapper content -->
				<div class="col-md-12">
					<div class="page-wrapper-content">
						<h1 class="lead" style="font-size: 60px;">Discussions</h1>
					</div>
				</div>
				<!-- /wrapper content -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>


<!-- BLOG -->
	<div id="blog" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

				<div class="col-md-4">
					<!-- blog -->
					<div class="card" data-aos="zoom-in-up">
  <div class="card-header">
    Topics
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>
</div>
					<!-- /blog -->

					<!-- blog -->
					<div class="card" data-aos="zoom-in-up">
  <div class="card-header">
 Topics  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>
</div>
					<!-- /blog -->
				</div>

				<div class="col-md-4">
					<!-- /blog -->
					<div class="card"data-aos="zoom-in-up">
  <div class="card-header">
     Topics
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>
</div>
					<!-- /blog -->

					<!-- blog -->
					<div class="card"data-aos="zoom-in-up">
  <div class="card-header">
     Topics
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>
</div>
					<!-- /blog -->
				</div>

				<div class="col-md-4">
					<!-- blog -->
					<div class="card"data-aos="zoom-in-up">
  <div class="card-header">
     Topics
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>
</div>
					<!-- /blog -->

					<!-- blog -->
					<div class="card" data-aos="zoom-in-up">
  <div class="card-header">
     Topics
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>
</div>

                    <br/><br/><br/>
					<!-- /blog -->
				</div>

				<div class="col-md-12">
					<div class="text-center">
						<a href="#" class="main-btn">Load More</a>
					</div>
				</div>

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /BLOG -->



{% endblock content %}